[Unit]
Description=Add hostname to RHV SSO
Before=ovirt-engine.service
After=network.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/local/sbin/ovirt-engine-hostname-sso
ExecStop=/usr/bin/true

[Install]
WantedBy=multi-user.target

